# macOS
.DS_Store

# Папки сборки CMake
build/
build-*/
cmake-build-*/

# VS Code: храним только общие настройки
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# clangd
.cache/
compile_commands.json
